.first {
    font-size: 96px;
    text-decoration: underline;
    color: yellow;
    text-align: left;
}

.second {
    font-size: 1in;   /*  1 inch = 96 pixels */
}

.image1 {
    width: 100px;
}
.image2 {
    width: 200px;
}
.image3 {
    width: 300px;
}



.borders {
    width: 200px;
    height: 50px;
    border-width: 10px;
    border-color: rgb(205, 3, 36);
    border-style: solid;
    border-radius: 50px;
   
    background-color: rgb(241, 161, 174);


    /* border: 10px groove purple; */
}
.diff_border {
    border-top: 2px;
    border-top-color: green;
    border-top-style: double;

    border-right: 4px;
    border-right-color: blue;
    border-right-style: groove;

    border-bottom:8px;
    border-bottom-color: pink;
    border-bottom-style: dashed;

    border-left: 12px;
    border-left-color: yellow;
    border-left-style: dotted;

    border-radius: 30px;
}
.box {
    width: 400px;
    height: 400px;
    border-width: 10px;
    border-color: rgb(237, 56, 237);
    border-style: solid;

    border-top-left-radius: 200px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;

}

