
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(231, 232, 233);
}
/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    position: fixed;
} */
 header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        background-color: #ffffff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        font-family: 'Arial', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
      }

    /* Logo (Left Side) */
    .logo {
      width: 210px;
      height: 65px;
      padding-left: 10px;
    }
    .menu_bar {
      display: none;
      position: relative;
    }
    .menu_list {
      display: none;
      position: absolute;
      right: 0px;
    }
    .menu_list div {
      width: 150px;
      padding: 10px 40px;
      border: 1px white solid;
      background-color: rgb(34, 143, 54);
    }
    .menu_list div:hover {
      background-color: rgb(32, 186, 61);
    }
    .menu_bar:hover .menu_list{
      display: block;
    }
    /* Navigation Links (Middle) */
    .nav-links {
      display: block;
      display: flex;
      gap: 60px;
    }
    @media(max-width:1200px) {
      .nav-links {
        display: none;
      }
      .menu_bar {
        display: block;
      }
    }
    .nav-links a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      /* transition: color 0.3s ease; */
      cursor: pointer;
    }

    .nav-links a:hover {
      color: rgb(34, 143, 54); /* Hover color (change to your preference) */
    }

    /* Login Button (Right Side) */
    .login-btn {
      background-color: rgb(34, 143, 54);
      color: white;
      border: none;
      padding: 15px 25px;
      border-radius: 5px;
      margin-right: 17px;
      font-size: 17px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      transform: translate(px, 0px);
    }

    .login-btn:hover {
      background-color: rgb(32, 186, 61); /* Darker shade on hover */
      /* transform: translateY(-2px);  */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


/* .strat {
    width: 100%;
    height: 100%;
    background-color: rgb(55, 163, 205);
} */


.arranging_images {
    display: flex;
    position: relative;
    /* justify-content: center;
    align-items: center; */
    /* overflow-x: auto; */
    /* gap: 16px;  */
    /* padding: 16px; */
    /* background: #f5f5f5; */
}
.circle_dots {
    width: 190px;
    height: 190px;
    /* margin-top: 60px; */
    /* margin-left: 100px; */
    transform: translate(100px, 60px);
    /* position: absolute; */
    /* transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
    display: block;
    left: 0px;
    top: 0px; */
}
.banner-title {
    /* margin-top: 90px; */
    /* margin-left: -120px; */
    transform: translate(-20px, 90px);
    height: 510px;
    /* position: absolute; */
}
.crisscross {
    width: 100px;
    height: 40px;
    /* position: absolute;
    left: 700px;
    top: 80px; */
    transform: translate(50px,100px);
    /* margin-top: 90px; */
    /* margin-left: 100px; */
    animation-name: crisscrossanimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes crisscrossanimation {
  0% {
    transform: translate(50px, 100px);
  }
  100% {
    transform: translate(250px, 100px);
  }
}
.red_circle_dots{
    width: 190px;
    height: 190px;
    /* margin-top: 150px;
    margin-left: 270px; */
    transform: translate(120px, 140px);
}
.girls_pic {
    /* margin-top: 55px;
    margin-left: -355px; */
    transform: translate(-220px, 60px);
    width: 650px;
    z-index: 1;
}
.circle {
    width: 160px;
    height: 180px;
    /* margin-top: 170px;
    margin-left: -200px; */
    transform: translate(-420px, 170px);
    z-index: 2;
}
.circle_dots-2 {
    width: 190px;
    height: 190px;
    /* margin-top: 385px;
    margin-left: -90px; */
    transform: translate(-500px, 390px);
}
.rectangle_dots {
    width: 50px;
    height: 130px;
    /* margin-top: 100px;
    margin-left: -25px; */
    transform: translate(-520px, 100px);
}
.border_circle {
    width: 70px;
    height: 70px;
    /* margin-top: 450px;
    margin-left: -80px; */
    transform: translate(-600px, 450px);
}

/* .rectangle_box {
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 450px;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}
.thub_name {
    width: 210px;
    height: 65px;
    padding-top: 10px;
} */

.info-box {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* width: 500px; */
  height: 150px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 450px;
  margin-left: -725px; */
  transform: translate(-1350px, 450px);
  font-family: 'Arial', sans-serif;
  z-index: 2;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-text .since {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.thub-logo {
    width: 210px;
    height: 65px;
    /* margin-bottom: px; */
}

.tech-hub-text {
  height: 22px;
}

.coach-count {
  /* text-align: right; */
  font-size: 16px;
  white-space: nowrap;
}

.coach-count .highlight {
  color: rgb(228, 48, 78);
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}


.green_box {
  width: 100%;
  height: 140px;
  background: linear-gradient(-90deg, #72bd20, #008738);
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green_box_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 85%;
  height: 100%;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 18px;
  border-right: 1px solid rgb(194, 242, 194);
}

/* Remove right border from the last box */
.grid-item:last-child {
  border-right: none;
}
.grid-item .circleG {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #FFFFFF1A;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-23px, 0px);
}
.grid-item p{
  transform: translate(0px, 0px);
  font-size: 20px;
  font-weight: normal;
}





.top-categories {
  padding: 60px 20px;
  text-align: center;
  background-color: white;
}

.section-title {
  font-size: 38px;
  font-weight: bold;
  color: #1a1a1a;
  margin-top: 70px;
  margin-bottom: 10px;
  position: relative;
}

.section-title::after {
  content: '';
  width: 60px;
  height: 4px;
  background: #0f9d58;
  display: block;
  margin: 10px auto 0;
  border-radius: 5px;
}

.categories-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  /* max-height: 330px; */
  margin: 40px auto 0;
}

.category-card {
  border-radius: 5px;
  width: 370px;
  height: 80px;
  padding: 16px 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  color: #000;
  border-right: 1px solid #fff;
  transition: background-color 0.3s ease;
}

.tech-training {
  background-color: #1AB69D12;
}
.tech-training:hover {
  background-color: #1AB69D;
}

.coding {
  background-color: #EE4A6212; 
}
.coding:hover {
  background-color: #EE4A62;
}

.apt {
  background-color: #0ECD7312;
}
.apt:hover {
  background-color: #0ECD73;
}

.comm {
  background-color: #F8B81F12;
}
.comm:hover {
  background-color: #F8B81F;
}

.profile {
  background-color: #8E56FF12;
}
.profile:hover {
  background-color: #8E56FF;
}

.place {
  background-color: #F9259612;
}
.place:hover {
  background-color: #F92596;
}

.cert {
  background-color: #5866EB12;
}
.cert:hover {
  background-color: #5866EB;
}

.intern {
  background-color: #F8941F12;
}
.intern:hover {
  background-color: #F8941F;
}

.project {
  background-color: #39C0FA12;
}
.project:hover {
  background-color: #39C0FA;
}

.category-icon {
  width: 45px;
  height: 45px;
  
}

.category-card span {
  font-size: 16px;
  white-space: nowrap;
}

.category-card:hover {
  color: white; /* text turns white */
}

.category-card:hover .category-icon {
  filter: brightness(0) invert(1); /* icon turns white */
}


